body{
    font-family: "Monotype Corsiva";
    font-size: 23px;
    background-image: url("img/24.jpg");
    color:rgb(85, 84, 84);
    text-shadow: 2px 2px 3px white;
}
header {
    background-image: url("img/34.jpg");
}
h1{
    font-size: 50px;
    color:rgb(167, 160, 160); 
    padding-left: 3%;
}
#advice{
    margin-left: 100px;;
    margin-top: 100px;
    border-style: dotted;
    border-color: rgb(139, 137, 137);
    background-color: white;
    width:350px;
}
#advice td{
    border-color: rgb(112, 110, 110);
    border-style: inset;
}
.frame{
    border-style: solid;
    border-color: rgb(252, 250, 250);
    border-radius: 50%;
    position: absolute;
    margin-top: 10%;
    margin-left: 48%;
}
.w{
    margin-top: 10%;
    margin-left: 63%;
}
.e{
    border-radius: 50%;
    margin-top: 23%;
    margin-left: 55%;
}
.mus{
margin-right: 5%;
}