.body{
    
  color:rgb(223, 187, 120);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
    background-image: url(img/3.jpg);
    background-size: 100%;
    font-family: Monotype Corsiva;
    font-size:25px;
}
/**** header ****/
.imgrow{
    background-image: url(img/2.jpg) ;
    color: rgb(9, 19, 80);
    text-shadow: 1px 1px 1px rgb(192, 179, 179);
  
    
    padding-left: 100px;
}



/****  TABLE  ****/
#feelings{
    background-image: url(img/2.jpg) ;
    border-style: outset;
    margin-left: 5%;
    margin-top: 1%;
    width:90%;
}
td, tr, th{
    padding: 5px;
    border: 1px solid black;
}
th .choise{
    color: rgb(2, 22, 77);
    text-shadow: 2px 1px 3px rgb(207, 207, 207);
    padding-left: 300px;
}
a{
    text-align:"center";
}
/* ТЕКСТ ПРИЧИНЫ */
.hov{
color:rgb(255, 184, 157);
text-shadow: 1px 0 1px rgb(6, 1, 82), 
0 1px 1px  rgb(94, 1, 81),  
-1px 0 1px  rgb(94, 1, 81), 
0 -1px 1px  rgb(94, 1, 81);
    width: 100;
    
}
.hov a{
    color:rgb(255, 184, 157);
    text-shadow: 1px 0 1px rgb(6, 1, 82), 
    0 1px 1px  rgb(94, 1, 81),  
    -1px 0 1px  rgb(94, 1, 81), 
    0 -1px 1px  rgb(94, 1, 81);
        width: 100;
}


.hov a:hover{
    text-shadow: 1px 1px 1px rgb(145, 145, 145);
    color:rgb(14, 1, 92);
    text-decoration:none;
}

/****       ****/
.music{
    margin-left: 40%;
    margin-top: 2%;
    }
    /****/
    #choise{
        margin-top:5%;
        
    }
    .choise1:hover{
        border-color:white;
border-width: 10px;
    }
    .choise{
        border-radius: 70%;
       
    }
    .choise:hover{
        border: 5px solid #ffffff;
    }
    .official{
        color:rgb(223, 187, 120);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size:20px
    }
    .official:hover{
        color:rgb(223, 187, 120);
        text-shadow: 1px 1px 3px rgb(250, 247, 247);
    }