body{
    background-image: url(img/35.jpg);
    background-size: 100%;
    color:rgb(145, 145, 145);
    text-shadow: 2px -1px 3px rgb(32, 32, 32);
    font-family: "Monotype Corsiva";
font-size:23px;
    
}
.header{
    background-image: url(img/37.jpg);
    background-size: 100%;
}
#advice{
    background-image: url(img/37.jpg);
    border-style: groove;
    border-color: rgb(139, 139, 139);    
    width:50%;
    margin-top:5%;
    
}
th{
    text-align: center;
}

#btn{
    position: absolute;
    margin-left:20px;
    width:150px;
    height: 50px;
    background-color: rgb(129, 129, 129);
    border-width: 10px;
    border-color:rgb(255, 255, 255);
}

/**** PHOTO TABLE ****/
#photo{
    margin-top:3%;
    width: 250px;

    
}
.hov, th{
    text-shadow:1px 1px 1px rgb(212, 156, 0);
    color:rgb(255, 255, 255);
}
.q1{
    padding-left: 29px;
}
img {
    padding-top: 30px;
}
@media screen and (max-width: 900px) {
body {
    font-size: 20px;
}
img{
    margin-top: 20px;
    width: 100px;
}
}

@media screen and (max-width: 700px){
    body {
        font-size: 15px;
    }
    #photo{
        margin-top: -200px;
    }
    img {
        
        width: 50px;
    }
}