body{
background-image:url(../img/26.jpg);
background-size: 100%;
color:rgb(255, 188, 240)
    !important;
}
.headrow{
    background-color: rgb(99, 66, 18);
    margin-top: 1%;
}

.title{
    font-size: 150px;
    font-style:solid;
    padding-left: 55%;
    
}

.border{
border-color:transparent
!important;
border-width: 50px
!important;
}
/*----------------Варианты ответа-------------------*/
.square{
    font-size:58px;
    font-style:solid;
    text-align:center;

}

.active{
    background-color: rgb(155, 100, 160);
    color:rgb(86, 177, 106);
    font-size:100px;
    visibility:visible;
}
.active2{
    visibility: hidden;
}

.right{
    margin-right: 300px;
}